<h1>Transaction <span class=monospace>{{self.txid}}</span></h1>
%% if self.inscription_count > 0 {
<h2>Inscription Geneses</h2>
<div class=thumbnails>
%% for index in 0..self.inscription_count {
{{ Iframe::thumbnail(InscriptionId { txid: self.txid, index }) }}
%% }
</div>
%% }
%% if let Some(blockhash) = self.blockhash {
<dl>
  <dt>block</dt>
  <dd><a href=/block/{{ blockhash }} class=monospace>{{ blockhash }}</a></dd>
</dl>
%% }
<h2>{{"Input".tally(self.transaction.input.len())}}</h2>
<ul>
%% for input in &self.transaction.input {
  <li><a class=monospace href=/output/{{input.previous_output}}>{{input.previous_output}}</a></li>
%% }
</ul>
<h2>{{"Output".tally(self.transaction.output.len())}}</h2>
<ul class=monospace>
%% for (vout, output) in self.transaction.output.iter().enumerate() {
%% let outpoint = OutPoint::new(self.txid, vout as u32);
  <li>
    <a href=/output/{{outpoint}} class=monospace>
      {{ outpoint }}
    </a>
    <dl>
      <dt>value</dt><dd>{{ output.value }}</dd>
      <dt>script pubkey</dt><dd class=monospace>{{ output.script_pubkey.asm() }}</dd>
%% if let Ok(address) = self.chain.address_from_script(&output.script_pubkey) {
      <dt>address</dt><dd class=monospace>{{ address }}</dd>
%% }
    </dl>
  </li>
%% }
</ul>
%% for event in &self.drc20_events {
<h2>Drc20 Event</h2>
    <dl>
      <dt>Event</dt><dd>{{ event.event }}</dd>
      <dt>Output</dt><dd>{{ event.vout }}</dd>
      <dt>Tick</dt><dd>{{ event.tick }}</dd>
%% if let Some(from) = &event.from {
      <dt>from</dt><dd>{{ from }}</dd>
%% }
%% if let Some(to) = &event.to {
      <dt>to</dt><dd>{{ to }}</dd>
%% }
%% if let Some(amount) = &event.amt {
      <dt>amount</dt><dd>{{ amount }}</dd>
%% }
%% if let Some(supply) = &event.supply {
      <dt>supply</dt><dd>{{ supply }}</dd>
%% }
%% if let Some(limit) = &event.limit {
      <dt>limit</dt><dd>{{ limit }}</dd>
%% }
    </dl>
%% }
%% for event in &self.inscription_events {
<h2>Inscription Event</h2>
    <dl>
      <dt>Event</dt><dd>{{ event.event }}</dd>
%% if let Some(inscription_id) = &event.inscription_id {
      <dt>Inscription ID</dt><dd>{{ inscription_id }}</dd>
%% }
%% if let Some(from) = &event.from {
      <dt>from</dt><dd>{{ from }}</dd>
%% }
%% if let Some(to) = &event.to {
      <dt>to</dt><dd>{{ to }}</dd>
%% }
    </dl>
%% }